.contentL{
	width: 100%;
	height: 800px;
}
.contentimgL{
	width: 30%;
	height: 400px;
	float: left;
	margin-left: 10em;
	margin-top: 8em;
	 
}
.contenttextL{
	width: 50%;
	height: 600px;
	float: right;
	margin-right: 7em;
	margin-top: 5em;
	font-size: 20px;
	font-family: Meiryo;
}
.contenttextL div{
	width: 100%;
	height: 70px;
	font-size: 35px;
	font-family: Meiryo;
	text-align: center;
}
.contentimgL img{
	width: 100%;
	height: 100%;	 
}

/*-------------------------------------------------------------------*/
.contentR{
	background-color: lightgray;
	width: 100%;
	height: 800px;
}
.contentimgR {
	width: 30%;
	height: 400px;
	float: right;
	margin-right: 10em;
	margin-top: 8em; 
}
.contenttextR div{
	width: 100%;
	height: 70px;
	font-size: 35px;
	text-align: center;
}
.contenttextR{
	width: 50%;
	height: 600px;
	float: left;
	margin-left: 5em;
	margin-top: 5em;
	font-size: 20px;
	font-family: Meiryo;
}
.contentimgR img{
	width: 100%;
	height: 100%;
}
/*--------------------------------------------------------------------*/
.fotter{
        width: 100%;
        height: 170px;
        text-align: center;
        font-size: 20px;
        font-family: Meiryo;
}
hr{
	background-color:#4F4F4F;
	height: 3px;
	width: 80%;
}